<%- include("./partials/headers.ejs") %>
<main class="container" id="index">
  <div class="form-block">
    <h1><q>A book is a gift you can open again and again.</q></h1>
    <h2>Here, you can share your reading experiences and insights</h2>
    <p class="intro">
       Each entry 
      features a tiny summary along with detailed notes for every book. 
      Use the provided ISBN numbers to easily find these titles at your local library or other sources.
      <br>
      This page will continually update as more books are read, so bookmark it to stay in the loop 
      and check back for new entries!
    </p>
    <p>Sorted with top recommendations up top. you can Sort by <a href="/sort?by=title"> Title </a>
      , <a href="/sort?by=newest"> Newest </a> or <a href="/sort?by=best"> Best </a>.</p>
  </div>
  <% if(locals.data){ %>
  <% for( let i = 0; i < data.length; i++ ) { %>
  <div class="form-block block2">
    <div class="line"></div>
    <div class="content">
      <a href="/view?id=<%= encodeURIComponent(data[i].id) %>">
        <h2><%= data[i].book_title %></h2>
      </a>
      <p class="review"><em>Date read: <%= data[i].date %>.<%= data[i].rating %>/10 recommended by <span style="color: white"><%= data[i].first_name %></span></em>
      </p>
      <div class="cover">
        <img src="./usersUploads/<%= data[i].isbn_code %>.jpg" alt="cover" width="100%">
      </div>
      <p class="summary"><%= data[i].summary %></p>
    </div>
    <p class="links"><a href="/view?id=<%= encodeURIComponent(data[i].id) %>">Read Notes</a> , or go to the <a href="<%= data[i].book_url%>" target="_blank">Amazon page</a> for details and reviews.</p>
  </div>
  <% } %>
  <% } %>
</main>
<%- include("./partials/footer.ejs") %>